@font-face {
    font-family: "TencentSansW7";
    src: url("TencentSansW7.eot"); /* IE9 */
    src: url("TencentSansW7.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("TencentSansW7.woff") format("woff"), /* chrome、firefox */
    url("TencentSansW7.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("TencentSansW7.svg#TencentSansW7") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


